  .jumbotron {
      background-image: url("../images/image.jpeg");
      background-size: 100%;
      text-align: center;
      text-shadow: 1px 1px #FFFFFF;
      color: black;
    }

    .font {
        text-align:center;
      }

    .info {
        font-size:12px; font-weight: 900;
      }

    .grey {
        background-color :lightblue;
      }

    .footer1 {
        text-align: center;
        background-color :lightblue;
      }

    .dashText {
      font-weight: bold;
      font-size:18px;
      text-align:center;
      color: #566c73
      text-shadw: 1px 1px #96acb3;
    }
    .ScrollStyle {
        max-height: 150px;
        overflow-y: scroll;
        max-width: 150px;
        overflow-x: scroll;
      } 
